.experience{
    height: 30%;
    border: 1px solid black;
    margin: 15px 10px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color:white;
    box-shadow: 1px 2px 5px 1px gray;

    &:hover, &:focus{
        box-shadow: 1px 3px 5px 1px rgb(70, 68, 68);
        transform: scale(1.04)
    }


    & h3{
        margin: 0;
    }

    & p{
        margin: 0;
        color: gray;
    }

    & >p{
        margin: 0;
        font-size: 1em;
        line-height: 18px;
        max-height: 72px;
        overflow: hidden;
        text-align: justify;
    }

    & div{
        display: flex;
        margin-top: 10px;
        
        & p:first-of-type{
            margin: 0;
            flex-grow: 3;
            font-size: 1em;
        }
    }
}