.body{
    margin-top: calc(5vh + 20px);
    height: calc(95vh - 21px);
    padding: 10px 0;
    box-sizing: border-box;
    

    & .container{
        height: 100%;
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        

        & .expWrapper{
            border: 1px solid black;
            flex-grow: 10;
            display: flex;
            flex-wrap: wrap; 
            justify-content: center;
            padding: 20px;
            overflow: scroll;
            -ms-overflow-style: none; 
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}