body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
      margin: 0;
      box-sizing: border-box;
      color: #090056;
      background: linear-gradient(90deg,#dae3fe,#e9effd);
}