.body{
    margin-top: calc(5vh + 20px);
    border: 1px solid black;
    height: calc(95vh - 22px);
    display: flex;
    flex-direction: row;

    & .left{
        border: 1px solid black;
        flex-grow: 1;
        padding: 20px;
        box-sizing: border-box;

        & .companyCol{
            height: 100%;
            border: 1px solid black;
            margin: auto;
            border-radius: 20px;
            box-sizing: border-box;
            padding: 20px;
            overflow-y: scroll;
            -ms-overflow-style: none; 
            scrollbar-width: none; 

            &::-webkit-scrollbar {
                display: none;
            }
            
            
        }       
    }

    & .mid{
        border: 1px solid black;
        flex-grow: 6;
    }

    & .right{
        border: 1px solid black;
        flex-grow: 3;
    }
}

.companyCard{
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    margin: 10px 0;
    padding: 5px ;

    & p{
        padding: 1px;
        border-radius: 20px;
        font-size: 1.2em;
        margin: 0;
    }
    
    & p.companyName{
        border: 1px solid black;
        flex-grow: 8;
    } 
    & p.qCount{
        height: 1.2em;
        width: 1.2em;
        // border: 1px solid black;
        text-align: center;
        border-radius: 100%;
        background-color: gray;
        color: white;
    }
}