$header-background : #175699;

.navbar{
    background-color: $header-background;
    padding: 10px 8vw;
    height: 5vh;
    width: 100%;
    display: flex;
    box-shadow: 0 5px 10px gray;
    position: fixed;
    top: 0;
    z-index: 10;


    & .title{
        // border: 1px solid black;
        width: 60%;

        & > p{
            text-align: center;
            font-size: 1.75em;
            margin: 0;
            font-family: 'Graduate';
            color: white;
            letter-spacing: 0px;
            font-weight: 600;
            line-height: 1.25em;
            font-family: 'Times New Roman', Times, serif;
        }
    }

    & .user{
        width: 20%;
        display: flex;
        justify-content: space-evenly;
    }
}